params {
  inputFilePath = "$baseDir/data/input.fa"
  fastaSubsetSize = 500
  outputFileName = "exportPred.out"
  outputDir = "$launchDir/output"
}


process {
    maxForks = 5

     withName: exportpred {
        container = "veupathdb/exportpred"
    }
}

includeConfig "$baseDir/conf/docker.config"

